/* header */
.header {
  background: var(--bg-linear);
  padding: 13px 5px 13px 10px;
}

.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_actions {
  gap: 10px;
}

.header_action_box {
  border-radius: 13px;
  background: rgba(var(--color-rgb-white), 0.2);
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header_logo {
  min-width: 131px;
}
/* header end */

/* main */
.main_wrapper {
  border-radius: 30px 30px 0px 0px;
  background: #fff;
  padding: 8px 0;
  height: 100%;
}
.main_wrapper_with_breadcrumbs {
  height: 100%;
}
/* main end */

/* footer */

.footer {
  background: var(--bg-linear);
  padding: 13px 5px 13px 10px;
  margin-top: 20px;
}

.footer_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_actions {
  gap: 10px;
}

.footer_action_box {
  border-radius: 13px;
  background: rgba(var(--color-rgb-white), 0.2);
  display: flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
}

.footer_logo {
  min-width: 131px;
}
.footer_contact {
  color: rgba(var(--color-rgb-white), 1);
  font-style: normal;
  font-weight: 600;
  line-height: 1.25rem;
}

/* footer end */

/* popular section */

.popular_title {
  margin: 16px 0;
}

.popular_wrapper {
  overflow: hidden;
  padding: 0 8px;
}

.popular_item {
  cursor: pointer;
  margin-right: 8px;
}
.popular_item:last-child {
  margin-right: 0;
}

/* popular section end */

/* newest section */

.newest_img {
  border-radius: 30px 30px 0px 0px;
  display: flex;
  min-width: 282px;
  height: 250px;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.newest_img img {
  object-fit: cover;
}

.newest_favorite {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
}

.newest_title {
  color: var(--color-granit);
}

.newest_price {
  white-space: nowrap;
  color: var(--color-granit);
}

.newest_content {
  padding: 16px;
  background: var(--color-grey);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.newest_param_item {
  color: rgba(var(--color-rgb-granit), 0.5);
  gap: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newest_params {
  /* margin-top: 20px; */
}

.newest_box {
  height: 40px;
  align-items: flex-start;
}

.newest_params_wrapper {
  gap: 20px;
}

.newest_more {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  border: 1px solid var(--color-border-grey);
}

/* newest section end */

/* breadcrumbs */

.breadcrumbs {
  position: relative;
  padding: 0px 16px;
  margin-bottom: 12px;
}

.breadcrumbs_item {
  padding: 8px 16px;
  text-align: center;
  border-radius: 58px;
  background: rgba(var(--color-rgb-white), 0.2);
  color: var(--color-white);
  flex: 1;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumbs_item:last-child {
  color: var(--color-gray);
  background: rgba(var(--color-rgb-white), 1);
}

.breadcrumbs_delimiter {
  margin: 0 8px;
  color: rgba(var(--color-rgb-white), 0.2);
}

/* breadcrumbs end */

/* page catalog */

.catalog_title {
  color: var(--color-black);
}

.catalog_actions {
  padding: 8px 8px 12px 8px;
}

.catalog_back {
  display: flex;
  padding: 8px 10px;
  align-items: center;
  gap: 6px;
  margin-right: 3.5px;
  cursor: pointer;
}

.catalog_heart {
  padding: 6px 10px;
  gap: 6px;
  cursor: pointer;
  color: var(--color-granit);
}

.catalog_share {
  margin-right: 8px;
  display: flex;
  padding: 8px 10px;
  align-items: flex-end;
  cursor: pointer;
  gap: 6px;
}

.catalog_swiper {
  height: 350px;
  max-height: 430px;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--color-grey);
}

.catalog_swiper img {
  object-fit: cover;
  border-radius: 30px;
}

.catalog_swiper .catalog_pagination {
  border-radius: 58px;
  background: var(--color-grey);
  display: flex;
  padding: 8px 12px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 12px;
  bottom: 12px;
  left: auto;
  z-index: 12;
  color: rgba(var(--color-rgb-granit), 0.5);
}

.catalog_object {
  padding: 16px;
  padding-top: 12px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background: var(--color-grey);
}

.catalog_tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: rgba(var(--color-rgb-granit), 0.5);
  margin-top: 8px;
}

.catalog_tags_delimiter {
  margin: 0 4px;
  color: rgba(var(--color-rgb-granit), 0.5);
}
.catalog_tags_item {
  color: rgba(var(--color-rgb-granit), 0.5);
}

.catalog_about {
  margin-top: 16px;
  padding: 16px;
  border-radius: 30px;
  background: var(--color-grey);
}

.catalog_about_descr {
  margin-top: 12px;
  color: var(--color-granit);
}

.catalog_account_img {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  overflow: hidden;
}

.catalog_about_account {
  gap: 12px;
}

.catalog_account_info_name {
  color: var(--color-blue);
}

.catalog_account_info_subtitle {
  color: rgba(var(--color-rgb-granit), 0.5);
}

.catalog_same {
  margin-top: 16px;
  padding: 20px;
  border-radius: 30px;
  background: var(--color-grey);
}

.catalog_same_title {
  margin-bottom: 16px;
  color: var(--color-black);
}

.catalog_same_row:not(:last-child) {
  margin-bottom: 12px;
}

.catalog_same_row_wrapper {
  margin-top: 8px;
  gap: 8px;
}

.catalog_same_row_item {
  border-radius: 58px;
  background: var(--color-white);
  color: var(--color-gray);
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
}

.catalog_object_title,
.catalog_preference_title {
  color: var(--color-granit);
}

.catalog_preference_subtitle {
  color: rgba(var(--color-rgb-granit), 0.5);
}

.catalog_preference {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 16px 16px;
  padding: 16px;
  margin-top: 16px;
  border-radius: 30px;
  background: var(--color-grey);
}

.catalog_preference_item {
  display: flex;
  align-items: flex-start;
}
.catalog_preference_img {
  margin-right: 8px;
}

.catalog_comfort_btn {
  color: var(--color-gray);
  display: flex;
  padding: 17px 24px 18px 24px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: 100px;
  border: 1px solid var(--color-gray);
  background: var(--color-white);
  cursor: pointer;
  margin-top: 16px;
}

.catalog_comfort {
  border-radius: 30px;
  background: var(--color-grey);
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.catalog_comfort_wrapper {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 47%);
  gap: 16px 16px;
  width: 100%;
}

.catalog_comfort_item {
  display: flex;
  align-items: center;
}

.catalog_comfort_img {
  margin-right: 8px;
}

.object_calendar {
  padding: 16px;
  border-radius: 30px;
  background: var(--color-grey);
}

@media (min-width: 210px) {
  .vc-pane-layout {
    grid-template-columns: repeat(1, auto) !important;
  }
}

@media (min-width: 560px) {
  .vc-pane-layout {
    grid-template-columns: repeat(2, auto) !important;
  }
}

/* page catalog end */
